@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  /* === Orange / Accent === */
  --orange-1: #BD4B06;  
  --orange-2: #F26D1D;  
  --orange-3: #FFA218;  

  /* === Neutral === */
  --white: #FFFFFF;     
  --offwhite-1: #FFF9F2;
  --offwhite-2: #FFF4E6;
  --offwhite-3: #FFF3E5;

  /* === Browns === */
  --brown-1: #84400F;   
  --brown-2: #7C5E3B;   
  --brown-3: #B04301;   

  /* === Light Backgrounds === */
  --bg-cream-1: #F8EBE5; 
  --bg-cream-2: #FFE7D5; 
  --bg-cream-3: #F8F0E5; 

  /* === Stroke / Borders === */
  --stroke-1: #C9AC8A;   
}

@font-face {
  font-family: 'Bantayog';
  src: url('/static/fonts/Bantayog-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Bantayog';
  src: url('/static/fonts/Bantayog-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bantayog';
  src: url('/static/fonts/Bantayog-Semilight.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}


@font-face {
  font-family: 'Niwanguno';
  src: url('/static/fonts/NiwangUno-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'TD Pinoy';
  src: url('/static/fonts/TD_Pinoy.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}


.font-bantayog {
  font-family: 'Bantayog', sans-serif;
}

.font-niwanguno {
  font-family: 'Niwanguno', sans-serif;
}

.font-td_pinoy {
  font-family: 'TD Pinoy ', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.bg-orange-1 { background-color: var(--orange-1); }
.bg-orange-2 { background-color: var(--orange-2); }
.bg-white { background-color: var(--white); }
.bg-offwhite-1 { background-color: var(--offwhite-1); }
.bg-offwhite-2 { background-color: var(--offwhite-2); }
.bg-offwhite-3 { background-color: var(--offwhite-3); }
.bg-cream-1 { background-color: var(--bg-cream-1); }
.bg-cream-2 { background-color: var(--bg-cream-2); }
.bg-cream-3 { background-color: var(--bg-cream-3); }
.bg-transparent {background-color: transparent;}

.text-orange-2 { color: var(--orange-2); }
.text-orange-3 { color: var(--orange-3); }
.text-brown-1 { color: var(--brown-1); }
.text-brown-2 { color: var(--brown-2); }
.text-brown-3 { color: var(--brown-3); }
.text-white { color: var(--white); }


.border-stroke-1 { border-color: var(--stroke-1); }

/* Buttons */
.bg-primary-btn { background-color: var(--orange-2); color: var(--white); }
.bg-secondary-btn { background-color: var(--white); color: var(--brown-1); }