{% load static tailwind_cli %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="strict-origin-when-cross-origin" />
        <meta http-equiv="Cross-Origin-Opener-Policy" content="unsafe-none">
        <meta name="keywords" content="PythonAsia 2026">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="PythonAsia 2026">
        {% include 'opengraph.html' %}
        <link rel="icon" type="image/x-icon" href="{% static 'img/py_kalinga-pot.png' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <title>
          PythonAsia 2026 {% block title %}{% endblock %}
        </title>
        {% tailwind_css %}
        {% block extra_css %}{% endblock %}
        <style>
        .hero-content {
            background-image: url("{% static 'img/hero-bg.png' %}");
        }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
