{% load static %}

<section id="speakers" class="bg-white">
  <div class="flex flex-col gap-10">
    <div class="w-full max-w-[1160px] mx-auto px-6 flex flex-col gap-8 py-20">
      <h2 class="font-td_pinoy text-6xl text-orange-2 text-center m-0">Keynote Speakers</h2>
      <p class="font-bantayog text-[28px] leading-[130%] text-uppercase text-brown-1 text-center">Discover our keynote speakers for PyCon Philippines 2025</p>
    </div>
    <div class="speakers-wrapper">
      <div class="rounded-[24px] bg-cream-1 flex gap-10" style="padding: 30px;">
        <div class="overflow-hidden grow">
          <img src="{% static 'img/speakers/speakers-img-1.jpg' %}" alt="'' style="border-radius: 70px; object-fit: cover;">
        </div>
        <div>
          <h3 class="font-bantayog text-brown-1 text-2xl">JC PERALTA</h3>
          <p class="font-nunito text-brown-2 font-semibold">Insert Title</p>
          <p class="font-nunito text-brown-2">JC Peralta is a data scientist, Geospatial Machine Learning Consultant, and Climate Scientist. He earned his Master's in Atmospheric Science from Ateneo de Manila University in 2019 and has worked on projects in climate science, disaster management, renewable energy, and climate action.</p>
        </div>
      </div>
    </div>
  </div>

</section>