{% load static %}

<section id="when-where" class="py-20">
    <div class="w-full max-w-[1160px] mx-auto px-6 flex flex-col gap-10">
      <div class="flex justify-between items-center">
        <div class="">
          <h2 class="text-[28px] text-[#F26D1D] leading-[130%]">WHEN? WHERE?</h2>
          <p class="text-[35px] text[#84400F] leading-[130%] tracking-[2%]">March 21-23, 2026</p>
          <p class="text-[35px] text[#84400F] leading-[130%] tracking-[2%]">De La Salle University (DLSU),</p>
          <p class="text-[35px] text[#84400F] leading-[130%] tracking-[2%]"> Malate, Manila</p>
        </div>
        <div class="flex flex-col justify-center gap-3.5">
          <button class="rounded-lg bg-[#F26D1D] py-[27px] px-[90px] text-white text-[22px] leading-[120%]">GET TICKETS</button>
          <a href="#" class="underline text-[#84400F] text-center text-base">Apply for Student Lorem Ipsum</a>
        </div>
      </div>
      <div class="relative w-full pb-[56.25%] overflow-hidden rounded-[24px]">
        <iframe
          class="absolute top-0 left-0 w-full h-full border-0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312.9943103756634!2d120.99462142200333!3d14.56338389191832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c97ed286459b%3A0x5927068d997eae2a!2sDe%20La%20Salle%20University%20Manila!5e0!3m2!1sen!2sph!4v1760281058137!5m2!1sen!2sph"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
</section>